@tailwind components;
@tailwind base;


/* .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
 .swiper-pagination-bullet {
    background-color: orange;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active .swiper-pagination-bullet-active-main{
    background: orange;
} */

/* .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: orange;
} */

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: orange;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

@layer base {
    html{
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
       }
       * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
       }
       body {
        font-family: 'Poppins', sans-serif;
        @apply p-0 m-0 text-primary bg-body
       }
       
       p{
        @apply text-xl text-secondary
       }
       
       .h1{
        @apply text-4xl font-extrabold text-orange-500 xl:leading-5xl mb-4
       }
       .h2{
        @apply text-3xl font-bold mb-4
       }
       .h3{
        @apply text-3xl font-semibold mb-4
       }
       
       
       
       .section{
        min-width: 100vh;
        @apply snap-center w-full
       }
       
       .btn{
        @apply bg-orange-500 px-5 py-3 text-white 
       }
       
       .active{
        @apply text-orange-300
       }
}


